<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content='True' name='HandheldFriendly' />
    <meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="dns-prefetch" href="//o0exnvnuy.qnssl.com/">
    <title><%= projectName%></title>
</head>

<body>
    <script src="//yaotv.qq.com/shake_tv/include/js/jsapi.js"></script>
    <script>
	    document.write('<link rel="stylesheet" href="deploy/css/app.css?v' + new Date() +'">');

        document.write('<script data-main="deploy/js/app.js?v='+ new Date() +'" src="//wximg.gtimg.com/shake_tv/include/js/lib/require.2.1.17.min.js"><\/script>');
    </script>
</body>

</html>
